@font-face {
  font-family: 'Tanker';
  src: url('/fonts/Tanker-Regular.otf');
}

@font-face {
  font-family: 'Fragment-Mono';
  src: url('/fonts/FragmentMono-Regular.ttf');
}

@font-face {
  font-family: 'Consolas';
  src: url('/fonts/Consolas.ttf');
}
